*{
    margin: 0px;
    padding: 0px;
    font-family: "Armata",sans-serif;
    text-align: center;
    color:white;
    text-shadow: 2px 2px 2px black;
}

/* Links */
a,a:visited,a:hover,a:active,a:link{
    color:white;
    text-decoration: none;
}
a span:hover > #bob, a span:hover, #Schedule:hover, #Schedule:hover > #ScheduleIcon{
 
  background-color:white;
  color:black;
  text-shadow: none;
  cursor: pointer;
}
a:active,#Schedule:active{
    position: relative;
    top:2px;
}
a:link{
    
}

body {
    background: linear-gradient(to bottom right,#696969,#d3d3d3);
    height: 900px;
}

/* Top Nav-Bar */

#mainLogo {
    width:25%;
    letter-spacing: 20px;
        
    text-align: center;
    font-family:"Kaushan Script";
    font-size:50px;
    
    position:relative;
    top:2px;
}

#mainTitle {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    width:73%;
    padding: 0px 50px;
        
    position:relative;
    top:5px;    
}

nav {
    width:auto;
    min-width: 700px;
    padding: 0 auto;
    height:100px;
    line-height:100px;
    text-align:center;
}
.Navigation {
    display: inline-block;
    box-sizing: border-box;      
    height:100px;
    border:4px gainsboro solid;
    border-bottom-color: darkgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #3f3f3f;
}
/* Footer*/
footer{
    margin: 0 auto;
    width:100%;
    height:60px;
    border: 1px #ddd solid;
    background-color:#3f3f3f;
    line-height: 60px;
    position: fixed;
    bottom:0;
}

#Schedule{
    padding: 0px 10px;
    border-left: 2px white solid;
    border-right: 2px white solid;
}

#ScheduleIcon{
    
}

.scheduleEntry{
    height:40px;
    width:40px;
    line-height: 40px;
    display:none;
    vertical-align:middle;
    margin-left:10px;
    border: 1px white solid;
    
}

#logout {
    position: relative;
    bottom:0px;
    padding: 0px 10px;
    border-left: 2px white solid;
    border-right: 2px white solid;
}

/* Main Menu */

#mainContainer {
    
    height:550px;
    width:98%;
    min-width:500px;
    margin:5px auto;
    
    
    position:relative;
    top:5px;
}

#Steve{ /*Label*/
    position:relative;
    top:-2px;
}
.label{
    background-color:#3f3f3f;
    font-size:28px;
}

.MenuSet{
     
    width: 70%;
    padding:10px;
    margin: 5px auto;
}

.MenuSet table{
    width:100%;
    height:200px;
}

.table th{
    padding:2px;
    text-align: center;
    font-size:36px;
    border-bottom: none;

}


#ControlMenu {
   margin-top:20px;
}

#ControlMenu table th{
    height:250px;
    line-height:250px;
    background-color: #337487;
}

#ViewMenu table th{
    height:250px;
    line-height:250px;
    background-color: #336F12;
}
.ViewMenuTD{
    background-color: #549431;
    display:none;
    opacity:0;
    height:63px;
}
.ControlMenuTD{
    background-color: #518B9C;
    opacity:0;
    display:none;
    height:63px;
}

/*Animations on Main Menu*/
@keyframes shrinkth{
    from{
        line-height: 250px;
        height:250px;
    }
    to{
        line-height:60px;
        height: 60px;  
    }
    
}

@keyframes shrinkth-reverse{
    from{
        line-height: 60px;
        height:60px;
    }
    to{
        line-height:250px;
        height: 250px;  
    }
    
}

@keyframes expandtd{
    from{
        opacity:0;
    }
    to{
        opacity:100;
    }
}

@keyframes expandtd-reverse{
    from{
        opacity:100;
    }
    to{
        opacity:0;
    }
}



/* Ripple Out from http://ianlunn.github.io/Hover/ */

@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.hvr-ripple-out {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 6px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}

/* Shrink from http://ianlunn.github.io/Hover/ */
.hvr-shrink {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}


/* ----------Temperature page CSS------------------*/


